/*SCHEDE*/
        .schedaArticolo{
            background: white;
            color: #1D313C;
            /*position: relative;
            display: inline-table;
            width: 95%;
            height: 100%;*/
            border: solid 3px #1D313C;
            font-size: 14px;
            margin: auto;
        }
        .schedaArticolo #titolo{
            color:white; 
            background:#1D313C;
        }

        .schedaArticolo #articolo{
            margin:10px;
        }

        .schedaArticolo #testoArticolo{
            text-align: left;
        }

        .schedaArticolo #testo{
            font-size: 14px;
        }



@media only screen and (min-width: 768px) {



}